[submodule "bench/flexguard"]
	path = bench/flexguard
	url = git@github.com:JerryMouseZ/flexguard.git
[submodule "bench/mutexbench"]
	path = bench/mutexbench
	url = git@github.com:JerryMouseZ/mutexbench.git
